<% if @confirmation_fail %>
"your password and confirmation passwords do not match"
<% end %>

<form action='/users' method='POST'>
<input type="text" name="email">
<input type="password" name="password">
<input type="password" name="password_confirmation">
<input type="submit" value="Sign up">
</form>