<form action='/users' method='POST'>

  <label for="email">Email</label>
  <input type="text" name="email" value='<%= @user.email %>'>

  <label for="password">Password</label>
  <input type="password" name="password">

  <label for="password_confirmation">Confirm password</label>
  <input type="password" name="password_confirmation">

  <input type="submit" value="Sign up">

</form>